
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="style.css" />
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- icon library-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <title>Canada Rentals</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="headerListings">
        <!--header-->
        <img class="logoListings" src="../images/logo2.jpg" width="70px" height="70px">
        <div class="headertext">
          <h1>Search Results</h1>

        </div>
        </div>
      </div>
        <!--navigation menu-->
        <div class="container-fluid">
            <a id="buttn" href="/">Home</a>
            <a id="buttn" href="/register">Register</a>
        </div>
        <br>
      <div class="cards">
        {{#each data}}
      <a href="details/{{id}}">
          <div class="card" >
            <img src="../images/{{photo}}" alt="{{title}}" class="card_image">
            <div class="card_content">
              <h5 class="first">{{title}} · {{location}}  {{id}}</h5>
              <h6 class="second">{{description}}</h4>
              <p class="third">${{price}} CAN/night</p>
            </div>
        </div>
    </a>
{{/each}}
      
  